.gradient-background {
    background: linear-gradient(300deg, #000000, #383132, #000000);
    background-size: 180% 180%;
    animation: gradient-animation 18s ease infinite;
  }
  
  @keyframes gradient-animation {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }

body{
    margin: 0%;
    padding: 0%;
}
.container{
    background-color: aqua;
}
.grid{
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 100px auto  150px;
    gap :px;
    background-color: yellow;
}
.nav{
    display: flex;
    gap: 10px;
    
    color: white;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
     font-family: cursive;
font-size: 25px;
color: blue;
text-decoration: underline aliceblue;

}
.main{
    background-color: white;
    color: black;
    display: grid;
    grid-template-columns: 500px 400px;
    grid-template-rows: auto auto auto ;
}

.profile{
    grid-column-start:2 ;
    grid-column-end: 3;
    grid-row-start: 1 ;
    grid-row-end:3 ;
    display:  flex;
    justify-content: center;
align-items: center;
flex-wrap: wrap;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
font-size: 20px;
padding-left: 100px;
}
.project{
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end:4;
    display: flex;
    justify-content: center;
    align-items: center;

}

.skills{
    display: flex;
    justify-content: center;
align-items: center;
flex-wrap: wrap;
font-family: cursive;
padding-left: 40px;
}

.skills > div > h2{
    color: blue;
    text-decoration: underline black;
}
.gridPro{
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto;
    gap: 15px;
}
.website{
    border: 2px solid blue;
    font-family: cursive;
    font-size: 1.4rem;
}
.footer{
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto;
    color: aliceblue;

}
.background >h1{
    color: blue;
    text-decoration: underline black;
}
.background{
    font-family: cursive;
    padding-left: 10px;
}
.contact{
    font-family: cursive;
    font-size: 15px;

}
.about{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
.about > img{
    width: 50px;
}